/*-------- Utility Styles --------*/
* {
	box-sizing: border-box; 
	outline: none;
	
}

body {
	font-family: 'Proza Libre', sans-serif;
	
}

#title {
	font-size: 30px;
	font-weight: 600;
	margin: 0;
	padding: 10px 0 0 15px;
}

/*-------- Main Styles --------*/

#main {
	width: 100%;
}

.formSection{
	float: left;
	max-width: 500px;
	margin: 0 10px 0 0;
}

.results{
	float: left;
}

.container, form, input, textarea, button {
	border-radius: 5px;
}

/*-------- Form Styles --------*/

form {
	max-width: 500px;
	background: #E3E6EC;
	padding: 10px 5px 50px 5px;
	margin: 0 auto;
}

.row {
	margin: 10px 0;
}

.formGroup {
	padding: 5px 15px; 
}

.formGroup label, input, textarea {
	width: 100%;
	display: inline-block;
}
.radio input, .radio label {
	display: inline-block;
	font-size: 16px;
	width: inherit;
	margin: 0 0 5px 10px;
}
.check input, .check label {
	display: inline-block;
	font-size: 16px;
	width: inherit;
	margin: 0 0 5px 10px;
}


input, select {
	padding: 14px;
	font-size: 16px;
	margin-top: 4px;
	border: 1px solid #ccc;
	box-shadow: none;
}

select {
	height: 48px;
}

textarea {
	height: 100px;
}

#verb-1 {
	width: 100%;
}

#submit-btn {
	float: right;
	font-weight: bold;
	font-size: 14px;
	width: inherit;
	padding: 14px 22px;
	background: rgba(39, 208, 127,.5);
}

#submit-btn:hover {
	background: rgba(39, 208, 127,1);
}

/*-------- Results Styles --------*/


.results {
	max-width: 500px;
	background: #C8DBB3;
	padding: 15px 25px 25px 15px;
}

.results h1 {
	margin: 0 0 10px 0;
	font-size: 30px;
}

